/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');*/

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    height: 100vh;
    background: #ffffff;
}

#chart, .chart-box {
    padding-top: 20px;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.1);
}

select.flat-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #008FFB url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'60px\' height=\'60px\'><polyline fill=\'white\' points=\'46.139,15.518 25.166,36.49 4.193,15.519\'/></svg>") no-repeat scroll right 2px top 9px / 16px 16px;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-family: arial,tahoma;
    font-size: 16px;
    font-weight: bold;
    outline: 0 none;
    height: 33px;
    padding: 5px 20px 5px 10px;
    text-align: center;
    text-indent: 0.01px;
    text-overflow: "";
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
    width: auto;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  select.flat-select:focus, select.flat-select:hover {
    border: 0;
    outline: 0;
  }
  

.apexcharts-canvas {
    margin: 0 auto;
}

#html {
    display: none;
}

.nav-item{
    margin-right: 40px;
}


.info_superior{
    margin-top: 1vh;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_superior__align{
 text-align: left;
}
.info_superior__title{}
.info_superior__text{}

.order_book{
    background: #f8f9fa;
    margin-top: 1vh;
}

.compra_venta{
    background: #f8f9fa;
    margin-top: 1vh;
}

.compra_venta__buttons{
    margin-top: 1vh;

    display: flex;
    justify-content: center;
    height: 50px;
}

.css-1ruuqxh {
    margin: 16px 0px 8px;
    min-width: 0px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #bcbcbc;
}

.css-1ch6ma5 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    height: 32px;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid rgba(43, 47, 54, 0.8);
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
}

.css-1ch6ma5 .bn-input-prefix {
    flex-shrink: 0;
    margin-left: 8px;
    min-width: 48px;
    font-size: 14px;
    color: rgb(94, 102, 115);
}

.css-1ch6ma5 input {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}

.css-1wlt96c {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    outline: none;
    background-color: inherit;
    opacity: 1;
    border: none !important;
}

.css-1ruuqxh .bn-input-suffix {
    margin-left: 8px;
}

.css-1ch6ma5 .bn-input-suffix {
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 14px;
    color: rgb(132, 142, 156);
}

.css-vurnku {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}